@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #181818;
}

.header {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -110%) rotate(45deg);
  background: #8758ff10;
  width: 340px;
  height: 340px;
  color: white;
  transition: all 0.4s;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  padding-top: 10px;
}

.nav ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  color: white;
  transform: rotate(180deg);
}

.nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  transition: color 0.4s;
}

.nav ul li a:hover {
  color: rgb(159, 159, 159);
}

input {
  z-index: 10;
}

.header input[type="checkbox"] {
  width: 25px;
  height: 25px;
  position: relative;
  cursor: pointer;
  appearance: none;
  outline: none;
}

.header input[type="checkbox"]::before {
  content: "\f0c9";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  font-size: 28px;
  color: white;
  transition: color 0.4s;
}

.header input[type="checkbox"]:checked::before {
  content: "\f00d";
}

.header input[type="checkbox"]:hover::before {
  color: rgb(159, 159, 159);
}

.header input:checked ~ .nav {
  transform: translate(-50%, -80%) rotate(180deg);
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: white;
}
